{% extends "layout.html" %}


{% block head %}
<title>Login</title>
{% endblock head %}


{% block content %}
<div class="container">
    <form class="login-form" id="loginForm">
        <div class="mb-3">
            <label for="emailLoginMain" class="form-label">Email address</label>
            <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="passwordLoginMain" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" id="loginSubmit">Submit</button>
    </form>

    <!-- build a new route with url for -->
    <p>Don't have an account? Sign up <a href="">here</a>.</p>
</div>

{% endblock content %}